
@import url(./fonts.css);

html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* ------------------navbar---------------------------- */
.nav{
    background:var(--white);
    padding: 0 2rem;
    height:0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    /* background-color:var(--white) */

    }

 


     /* ---color------ */

    :root{
        --text-gray:#052c3b;
        --text-light:#fae1dd;
        --bg-color:#023047;
        --white: #ffffff;
        --midnight:#006d77;

        /* ------gradiant color----- */

        --sky:linear-gradient(120deg, #a1c4fd 0%, #1ba8e9 100%);


    /* ------------font family */
        --abel: 'abel';
        --anton:'anton';
        --josefin: 'josefin';
        --livvic:'livvic';
        --lexend: 'lexend';
   }

/*------------------ global classes------------- */
a{
    text-decoration: none ; 
    color: var(--text-gray);   
     }

    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    ul{
        list-style-type: none;
    }

    h1{
        font-family: var(--lexend);
        font-size: 2.1rem;
    }

    h2{
        font-family: var(--livvic);
    }

    h3{
        font-family: var(--abel);
        font-size: 1.3rem;
    }
  
    button.btn{
        border: none;
        border-radius: 2rem;
        padding: 1rem 3rem;
        font-size: 1.1rem;
        cursor: pointer;
    }

    /*------------------ global classes------------- */

    .nav .nav-menu{
        justify-content: space-between;
    }

    /* -----------togle---------- */

    .nav .togle-collapse{
        position: absolute;
        top: 0%;
        width: 100%;
        cursor: pointer;
        display: none;
    }
    .nav .togle-collapse .togel-icon{
        display: flex;
        justify-content: flex-end;
        padding: 1.7rem;
    }
    .nav .togle-collapse .togel-icon i{
        font-size: 1.4rem;
        color: var(--text-gray);
    }

    .collapse{
        height: 30rem;
    }


    .nav .nav-items{
       display: flex;
        margin: 0;
        list-style-type: none;
        
    }
    .nav .nav-items .nav-link {
        padding: 1.6rem 1rem;
        font-size: 1.1rem;
        position: relative;
        font-family:var(--abel);
         }
    
    .nav .nav-items .nav-link:hover{
        background-color: var(--midnight);
    }
       
    .nav .nav-items .nav-link:hover a{
        color:var(--white);  
     }
    
    
.nav .nav-brand a{
font-size: 1.6rem;
padding: 1rem 0rem;
text-decoration:none;
display: block;
font-family:var(--lexend);
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding : 0 0.2rem;
}

   
.nav .social i:hover{
    color:rgb(183, 148, 248);
    /* font-size: 1.5rem; */
}
/* ------------------navbar---------------------------- */
/* -------------main----------------- */
/* ---------------title---------------------- */
main .site-title{
    background: url(../assets/Background-image.png);
    background-size:cover;
    height: 140vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3{
    margin: 0.3rem;
}

main .site-title .btn{
    margin-top: 2.8 rem;
    background: var(--sky);

}

main .site-title .btn:hover{
background: transparent;
border: 1px solid var(--white);
color: var(--white);
}
/* --------x----------site title------------x-------------- */

/* ------------------blog carousel-------------------------- */

main .blog{
    background: url(../assets/Abract01.png);

    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
}

main .blog .blog-post{
padding-top: 6rem;
}

main .blog-post .blog-content{
display: flex;
}

/* ---------x---------blog carousel------------x-------------- */

/* -----------when vieport <= 750x------------------- */

@media(max-width:750px){
    .flex-row {
        flex-direction: column;
        }

    .nav .nav-items{
        flex-direction: column;
         }

    .nav .nav-items .nav-link {
        padding: 0.8rem 1rem;
        }

    .nav .togle-collapse{
        display: inline;
    }
}
    